<h1>Suppression</h1>

<p>Êtes vous sûr de vouloir supprimer cette US ?</p>

<form action="/userStories/delete" method="POST">
  <input type="hidden" name="_id" value="<%=_id%>">
  <a href="/userStories" class ="button"> Nope ! </a>
  <button>Yes ! Supprimer !</button>
</form>