<h1>Suppression</h1>


<form action="/userStories/delete" method="POST" class="formCard">
  <p>Êtes vous sûr de vouloir supprimer cette US ?</p>
  <input type="hidden" name="_id" value="<%=_id%>">
  <div class="buttons">
    <button>Yes ! Supprimer !</button>
    <a href="/projects" class="button">Nop !</a>
  </div>
</form>