<h1>Suppression</h1>


<form action="/bugs/delete" method="POST" class="formCard">
  <input type="hidden" name="_id" value="<%=_id%>">
  <p>Supprimer ce rapport de bug ?</p>
  <button>Oui !</button>
  <a href="/projects" class="button">Nop !</a>
</form>
