<h1>Suppression</h1>

<p>Êtes vous sûr de vouloir supprimer ce projet ?</p>

<form action="/projects/delete" method="POST" class="formCard">
  <input type="hidden" name="_id" value="<%=_id%>">
  
  <div class="buttons">
    <a href="/projects" class ="button"> Nope ! </a>
    <button>Yes ! Supprimer !</button>
  </div>
</form>
