<h1>Accueil des projets</h1>

<div class="projects">

  <% projects.forEach(project => { %>

    <div class="project">
      <a href="/projects/update/<%=project._id%>">modifier</a>
      <p> <%= project.name %> </p>
      <p> <%= project.description %> </p>
    </div>

  <% }); %>

</div>