<h1>Modifier un projet</h1>

<form action="/projects/update" method="POST" class="formCard">
	<input type="hidden" name="_id" value="<%=project._id%>"/>
	<div>
		<label for="name">Nom du projet</label>
		<input type="text" id="name" name="name" value="<%= project.name %>">

		<label for="description">Description</label>
		<textarea type="text" rows="3" id="description" name="description"><%= project.description %></textarea>
	</div>
	<a href="/projects" class="button">Back</a>
	<button type="submit">Modifier</button>
</form>